body { 
 font-family: Arial, sans-serif;
 margin: 0;
 padding: 0;
 background-color: #f8f6f6; 
 }

header { 
 background-color: #127fd8; 
 color: white;
 text-align: center; 
 padding: 20px; 
}

nav { 
    background-color: #127fd8;
    min-width: auto;
    color: white; 
    padding: 10px; 
}

nav p { 
  text-align: left; 
  font-family: "Momo Signature", cursive;
  color: white; 
  margin: 0 15px; 
  text-decoration: 
  none; 
}


.text-wrap {
  position: relative;
  height: 40px;              /* Sesuaikan tinggi area */
  display: flex;
  align-items: center;
  margin: 35px 0px 0px 20px;
  overflow: hidden;
  font-size: 18px;
  font-weight: 600;
}

.phrase {
  opacity: 0;
  transition: opacity 0.6s ease;
  position: absolute;
}
.phrase.show {
  opacity: 1;
}


section { 
    padding: 20px; 
    max-width: 800px; 
    margin: auto; 
}

header h1{
    padding-top: 0px;
    margin-top: 0px;
}
.grid-tabel {
    background-color: #ffffff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px; 
    margin: -30px 15px 0 15px;
}

/* Container slider */
.slider-container {
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}

/* Track untuk gambar-gambar */
.slider {
    display: flex;
    transition: transform 0.5s ease;
}

/* Setiap gambar */
.slider img {
    width: 100%;
    max-height: 250px;
    flex-shrink: 0;
    border-radius: 10px;
    user-select: none;
}


.fixed-slider {
  bottom: 10px; /* bisa atur top:0 agar di atas */
  left: 0;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
  backdrop-filter: blur(5px); /* biar cakep */
}

.scroll-area img {
  width: 90px;
  margin-right: 10px;
  border-radius: 8px;
  display: inline-block;
}

.jajananteks {
    margin: 50px 0px 0px 20px;
}

.container {
  margin: auto;
}

.menu-item {
    background-color: #ffffff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px;
    margin: 10px 10px 0px 10px;
    display: flex;
    align-items: center;
}

.menu-item img { 
 width: 100px; height: 
 100px; margin-right: 20px; 
}

footer { 
 background-color: #333; 
 color: white; 
 text-align: center;
 padding: 10px; 
}
